body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5dc;
}
/*--- Header  ---*/
header {
    background: #eaeab4;
    color: #605f5f;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    align-items: center;

}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    color:#6f6f6f;
    text-decoration: none;

  }
  a:hover {
    color: #727250 ;
    text-decoration: none;
  }
section {
    margin: 20px;
    padding: 20px;
    background: #f5f5dc;
    border-radius: 8px;
}
/*--- footer  ---*/

footer {
    text-align: center;
    padding: 10px;
    background: #eaeab4;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2{
    font-family: "Raleway", sans-serif;

}
/*--- index  ---*/
#index {
  width: 100%;
  height: 100vh;
}

#index .container {
  padding-top: 70px;
  text-align: center;
  position: relative;

}
#index h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
}

#index h2 {
  color: #6f6f6f;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#index .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #9f9f70;
}
#index .btn-about:hover {
  background: #727250;
}
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-icons a img {
  width: 40px;
  height: 40px;
}

/*--- section  ---*/

.section-title {
    text-align: center;
    padding-bottom: 30px;
  }

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #cdcd90;
    bottom: 0;
    left: calc(50% - 25px);
  } 

  /* section apropos*/
  #apropos  ul {
    list-style: none;
    padding-left: 20px;
  }
  #apropos ul li {
    padding-bottom: 10px;
  }
 #apropos ul li i {
    margin-right: 10px;
    font-size: 20px;

}

#apropos .row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.image img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}
.content {
    flex: 1; 
}
.intro {
    margin-bottom: 20px;
}
.inf {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.div1, .div2 {
    flex: 1;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
/* parcours*/

.parcours .parcours-title {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222222;
  }
  .parcours .parcours-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #845162;
    position: relative;
  }
  .parcours .parcours-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #5c3844;
    margin-bottom: 5px;
  }
  .parcours .parcours-item h5 {
    font-size: 16px;
    background: #f2edef;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #845162;
  }
  /* cercle */
  .parcours .parcours-item::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #845162;
  }
  .bac-container ,.licence-container ,.cycle-container{
    display: flex;
    align-items: center;
    
}


.bac-container img  ,.licence-container img ,.cycle-container img {
    margin-left: 250px; /* espace entre le texte et l'image */
    max-width: 300px; /* ajustez la taille de l'image si nécessaire */

}
/* --contact --*/
.contact-info {
  display: flex;
  gap: 20px; /* Espace entre les blocs */
}

.info, .contact-container {
  flex: 1; /* Les deux divs prennent le même espace */
}

.info {
  display: flex;
  flex-direction: column; /* Arrange les éléments enfants verticalement */
  gap: 10px; /* Ajoute un espace entre chaque div */
}

.info div {
  display: flex;
  align-items: center; /* Aligne les éléments au centre verticalement */
}

.contact .info h4 {
  font-size: 22px;
  margin-bottom: 0px;
  color: #222222;
}

.contact .info p {
  margin-bottom: 0;
  font-size: 20px;
  color: #555555;
}

/* Form Fields */
.contact-container form label {
  font-weight: bold;
  display: block;
  margin: 15px 0 5px;
  box-sizing: border-box;

}.contact-container form input[type="text"],
.contact-container form input[type="email"],
.contact-container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #f5f5dc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-container form button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-container form button:hover {
    background-color: #ac9675;
}
/* matieres */
table {
  width: 90%;
  margin: 0 auto 2rem;
  border-collapse: collapse;
  background-color: #ddcbc3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead {
  background-color: #d8bcaf;
  color: rgb(25, 25, 25);
}

table thead th {
  padding: 1rem;
  text-transform: uppercase;
}

table tbody td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid #DCC9BC;
}

table tbody tr:nth-child(even) {
  background-color: #DCC9BC;
}

table tbody tr:hover {
  background-color: #efe9e3;
}
/* stage*/
#stage .article-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.stage-article {
  flex: 1; /* Equal width for each article */
  padding: 20px;
  border: 1px solid #e4e4a1;
  background-color: #eeeece;
  border-radius: 8px;
}

/* Optional: Style for article titles */
.stage-article h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  color: #522C5D;
}
.stage-article  ul li{
  color: #726744;
  font-weight: bold;

}

/* Optional: Add responsiveness for smaller screens */
@media (max-width: 768px) {
  #stage .article-container {
      flex-direction: column; /* Stack articles vertically on small screens */
  }
}

/* page projet*/
/* Section Projets */
.projets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}


.card {
  background-color: #eeeec6;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
} 
.card img {
  width: 100%; 
  height: 150px;
  object-fit: cover; 
  border-radius: 8px;}
.card .btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1em;
  color: #fff;
  background-color: #b6b680;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card .btn:hover {
  background-color: #888860;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/*detail-projet*/
.detail {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

.detail h2 {
  color: #322a5e;
  text-align: center;
}

div p {
  text-align: justify;
  margin: 20px 0;
}

/* Images */
div img {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* competences*/
.skills-container {
  padding: 20px;
}

.languages-container, .frameworks-container {
  background-color: #f5f5dc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(247, 245, 245, 0.1);
  padding: 20px;
  flex: 1;
  min-width: 250px;
}

.languages-container h3, .frameworks-container h3 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: #302d2d;
}

.skills h4 {
  font-weight: normal;
  color: #302d2d;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #e9e3e3;
  height: 10px;
  border: 1px solid rgba(246, 235, 235, 0.03);
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
}

.progress-bar div span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: #333;
  justify-content: center;
  align-items: center;
  display: flex;
}

.html {
  width: 95%;
  background: #712f46;
  animation: html 2s linear forwards;
}

.css {
  width: 65%;
  background: #712f46;
  animation: css 3s;
}

.java {
  width: 50%;
  background: #712f46;
  animation: java 3s;
}
.javascript {
  width: 50%;
  background: #712f46;
  animation: javascript 3s;
}
.c {
  width: 45%;
  background: #712f46;
  animation: c 3s;
}

.python {
  width: 65%;
  background: #712f46;
  animation: python 3s;
}

.angular {
  width: 70%;
  background: #712f46;
  animation: angular 3s;
}

.react {
  width: 50%;
  background: #712f46;
  animation: react 3s;
}
.django {
  width: 65%;
  background: #712f46;
  animation: django 3s;
}
.springboot {
  width: 85%;
  background: #712f46;
  animation: springboot 3s;
}
.flutter {
  width: 60%;
  background: #712f46;
  animation: flutter 3s;
}

/* evenements*/

/* Section événements */
#evenements img {
  width: 350px; /* Ajustez la taille des images */
  height: auto; /* Maintient le ratio d'aspect */
  margin: 10px; /* Espacement entre les images */
  border: 2px solid #ccc; /* Bordure fine */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation douce */
}

/* Effet au survol */
#evenements img:hover {
  transform: scale(1.1); /* Agrandit légèrement l'image */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Accentue l'ombre */
}

/* quiz*/
.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background: #555;
}

.result {
  margin-top: 20px;
  padding: 10px;
  background: #FBFFEA;
  border-left: 4px solid #362828;
}
/* temoinage */
.header-logo-title {
  display: flex;
  align-items: center; /* Aligne verticalement le logo et le texte */
  gap: 20px; /* Espace entre le logo et le titre */
}

.header-logo-title h2 {
  font-size: 24px;
  margin: 0; /* Enlever toute marge supplémentaire autour du titre */
}

.video-section video {
  width: 100%; 
  height: auto; }

.video-section {
  max-width: 1200px; 
  margin: 0 auto; 
}
ul li {
  list-style: none;

}
.temoi {
  width: 50px; 
  height: 50px; 
  margin-right: 10px; 
  border-radius: 50%; 
  vertical-align: middle;
}
.info-formation-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espace entre les deux sections */
}

.information, .formation {
  flex: 1; 
  padding: 10px; /* Un peu d'espace à l'intérieur des sections */
}


